@use "mixins";

html {
  font-size: 8px;
  @include mixins.viewport-md {
    font-size: 10px;
  }
}
body {
  font-family: "Montserrat";
  background: var(--main-color);
  color: var(--main-text-color);
}

body {
  background: tomato;
}