@import './vars';
@import './mixins';


body {
	background: #000;
	color: #fff;
	font-family: Montserrat, Roboto, serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	text-size-adjust: none;
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	// Firefox Scroll
	scrollbar-width: thin;          /* "auto" or "thin"  */
	scrollbar-color: #f5f5f5 #666;

	// webkit scroll
	&::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #f5f5f5;
	}

	&::-webkit-scrollbar {
		width: 6px;
	}

	&::-webkit-scrollbar-thumb {
		-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #666;
	}
}

.html-freeze body {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.body {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
  overflow-x: hidden;
  overflow-y: auto;
}

.footer {
  grid-area: footer;
}

*::selection {
  background-color: #fafafa;
  color: #000;
}

.wrapper {
  position: relative;
  max-width: 2080px;
  margin: 0 auto;
  padding: 0 40px;

  @media (max-width: $laptop) {
    max-width: 1024px;
  }

  @media (max-width: $tablet) {
    max-width: 980px;
    padding: 0 30px;
  }

  @media (max-width: $note) {
    max-width: 725px;
  }

  @media (max-width: $phone-xl) {
    max-width: 100%;
    padding: 0 15px;
  }
}
