@import "./reset";
@import "./mixins";
@import "./vars";
@import "./global";
// @import "./fonts"; // font go to the head`s inline

body {
  background: yellow;
}

p, h1 {
  font-size: rem(46);
  font-weight: 700;
  font-family: Montserrat;
  color: #000;
  text-align: center;
}

img {
  height: 600px;
}
