@import "./reset";
@import "./mixins";
@import "./vars";
@import "./fonts";

body {
  background: yellow;
}

body {
    display: flex;
    position: static;
    left: 0;
    background: yellow;
    color: red;
}

p {
  font-size: rem(46);
}
