@import "./reset";
@import "./mixins";
@import "./vars";
// @import "./fonts";

body {
  background: yellow;
}

body {
  display: flex;
  position: static;
  left: 0;
  background: yellow;
  color: red;
  font-family: Montserrat;
  font-weight: 400;
}

p {
  font-size: rem(46);
  font-weight: 700;
  font-family: Montserrat;
}

img {
  height: 600px;
}
